.vertical-line {
    position: absolute;
    border-left: 2px solid #f3f3f3;
    height: 100%;
    margin: 0 6px;
    top: 21px;
  }

  .dot {
    position:absolute;
    top: 7px;
    height: 14px;
    width: 14px;
    background-color: #979797;
    border-radius: 50%;
    display: inline-block;
  }

  .content {
    margin-left: 35px;
  }

  .date-style {    
    display: inline;
    padding: 3px 6px;
    border-radius: 0.4em;
    background-color: #0067f6;
    color: white;
    margin-bottom: 0px;
  }

  .local-style {
    color:#a7a7a7; 
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
  }

  .project-title {
    font-weight: bold;
    text-decoration: underline;
  }