<div class="container-info">
    <div class="image-container">
        <img class="rounded" src="assets/images/anass_img.jpeg">
        <h3 class="name-style">{{data.lastName?.toUpperCase()}} {{ data.firstName?.charAt(0).toUpperCase() + data.firstName?.slice(1).toLowerCase() }}</h3>
    </div>
    <div>
        <h4 class="badge-pill light-background">{{ data.profile }}</h4>
    </div>
    <div style="display:flex;justify-content: space-evenly;">
        <a [href]="data.linkedinLink" target="_blank" class="fa-brands fa-linkedin badge-pill light-background link-color"></a>
        <a [href]="data.githubLink" target="_blank" class="fa-brands fa-github badge-pill light-background link-color"></a>
    </div>
    <div>
        <h4>Personal information :</h4>
        <div>
            <div>
                <i class="fa-solid fa-location-dot"></i><span> {{ data.address }}</span>
            </div>
            <div>
                <i class="fa-solid fa-envelope"></i><span> {{ data.email }}</span>
            </div>
            <div>
                <i class="fa-solid fa-mobile"></i><span> {{ data.phone }}</span>
            </div>
        </div>
    </div>
    <div class="language-container light-background">
        <h4 class="name-style">Langues :</h4>
        <div class="language-style">
            <span *ngFor="let language of data.languages">{{ language.name }}: {{ language.level }}</span>
        </div>
    </div>
    <div class="language-container light-background">
        <h4 class="name-style">Forces :</h4>
        <div class="language-style">
            <span *ngFor="let item of data.softSkills">{{ item }}</span>
        </div>
    </div>
</div>
