<div class="container-info">
    <div class="image-container">
        <img class="rounded" src="../../assets/images/anass_img.jpeg" alt="">
        <h3 class="name-style">LEMRABET Anass</h3>
    </div>
    <div>
        <h4 class="badge-pill light-background">Full Stack Developer Java / Spring Boot / Angular / Vuejs</h4>
    </div>
    <div style="display:flex;justify-content: space-evenly;">
        <a href="https://www.linkedin.com/in/anass-lemrabet-512a68113/" class="fa-brands fa-linkedin badge-pill light-background link-color"></a>
        <a href="https://github.com/lemrabetAnass" class="fa-brands fa-github badge-pill light-background link-color"></a>
    </div>
    <div>
        <h4>Personal information :</h4>
        <div>
            <div>
                <i class="fa-solid fa-location-dot"></i><span> Kénitra, Maroc</span>
            </div>
            <div>
                <i class="fa-solid fa-envelope"></i><span> lemrabet.anass@gmail.com</span>
            </div>
            <div>
                <i class="fa-solid fa-mobile"></i><span> +212 634321874</span>
            </div>
        </div>
    </div>
    <div class="language-container light-background">
        <h4 class="name-style">Langues :</h4>
        <div class="language-style"> 
            <span>Arabe: </span>
            <span>Français: </span>
            <span>Anglais: </span>
        </div>
    </div>
    <div class="language-container light-background">
        <h4 class="name-style">Forces :</h4>
        <div class="language-style"> 
            <span>Motivé</span>
            <span>Curieux</span>
            <span>Passioné</span>
        </div>
    </div>
</div>
