.container {
    height: 100vh;
    width: 100%;
}

.contact-info {
    /*min-width: 290px;*/
    width: 290px;
}

.other-info {
    flex-grow: 1;
    height: 100%;
    background-color: aqua;
}

.margin-rl {
    margin-right: 20px;
    margin-left: 20px;
}

