/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Mukta", sans-serif;
    background-color: #f3f3f3;
}

.badge-pill {
    border-radius: 10rem;
    padding: 10px;
}
